{% extends 'base.pug' %}
{% load static %}

{% block title %} AGB {{ block.super }}{% endblock %}
{% block extra_head %}
  <link rel="canonical" href="https://www.busybee-catering.de/agb">
{% endblock %}

{% block content %}
<h1>Busy Bee Catering GmbH</h1>
<h2>Die nachfolgenden allgemeinen Geschäftsbedingungen gelten für
  sämtliche Beauftragungen der Busy Bee Catering GmbH
  (nachfolgend „BUSY BEE CATERING“) durch Dritte
  (nachfolgend „Veranstalter“)</h2>
<ol>
<li>
<p>Gegenstand der Leistungserbringung von BUSY BEE Catering sind die zwischen BUSY BEE Catering und dem Veranstalter vereinbarten Catering-Leistungen. Die Hauptleistungspflicht des Veranstalters besteht in der vollständigen und fristgemäßen Zahlung der vereinbarten Vergütung sowie in ggf. erforderlichen Mitwirkungspflichten im Rahmen der Veranstaltung (z.B. Anmietung von Räumlichkeiten, fristgemäße Absprache mit BUSY BEE CATERING zu den Details der Leistungen etc.).</p>
</li>
<li>
<p>Die Rechnungen von BUSY BEE CATERING sind binnen 14 Tagen ohne Abzug fällig. Die vereinbarte Vergütung ist verbindlich und beinhaltet alle Nebenkosten (einschließlich Steuern, Abgaben etc.). Bei Überschreitung der Zahlungstermine steht der Agentur ohne weitere Mahnung ein Anspruch auf Verzugszinsen in Höhe von 10% über dem Basiszinssatz zu. Das Recht zur Geltendmachung eines darüberhinausgehenden Schadens bleibt von dieser Regelung unberührt. Bei Änderungs- und Ergänzungswünschen ist für damit verbundene Mehrleistung von BUSY BEE CATERING zudem eine gesonderte Vergütung zu zahlen, sofern sich beide Parteien (auch formfrei) auf diese zusätzliche Leistung geeinigt haben.</p>
</li>
<li>
<p>Der Veranstalter muss BUSY BEE CATERING die endgültige Zahl der Teilnehmer spätestens bis 7 Tage vor dem Termin der Veranstaltung mitteilen, um eine sorgfältige Vorbereitung durch BUSY BEE CATERING gewährleisten zu können. Später erfolgende Abweichungen der Teilnehmerzahl nach unten gegenüber der gemeldeten Zahl werden nicht berücksichtigt und berechtigen den Veranstalter zu keiner Minderung der vereinbarten Vergütung.</p>
</li>
<li>
<p>Bei einer nicht rechtzeitig mitgeteilten Abweichung der Teilnehmerzahl nach oben, besteht kein Anspruch des Veranstalters auf eine Mehrleistung der BUSY BEE CATERING, jedoch steht es der BUSY BEE CATERING frei, eine Mehrleistung gegen eine gesonderte Vergütung zu erbringen. Bei dieser gesonderten Vergütung wird die ursprünglich vereinbarte Vergütung unter Berücksichtigung der tatsächlichen Teilnehmerzahl zugrunde gelegt. BUSY BEE CATERING übernimmt in diesem Fall der verspäteten Mitteilung jedoch keine Gewähr, dass die Mehrleistung den Erfordernissen einer erhöhten Teilnehmerzahl gerecht wird, insbesondere, wenn die Teilnehmerzahl über 10 % überschritten wird. </p>
</li>
<li>
<p>Kann eine Veranstaltung nach erfolgter Buchung nicht durchgeführt werden, ohne BUSY BEE CATERING zu verantworten oder zu verschulden hat, so behält BUSY BEE CATERING GmbH den Anspruch auf Entschädigung, je nachdem, zu welchem Zeitpunkt die Veranstaltung aufgehoben wird, und welche zusätzlichen Leistungen, insbesondere Beköstigung, vorgesehen waren. Die Höhe der Vergütung ergibt sich aus den Stornierungskosten nach Ziffer 13.</p>
</li>
<li>
<p>BUSY BEE CATERING behält sich vor, dem Veranstalter zusätzliche Personal- und Materialkosten in Rechnung zu stellen, wenn durch Verschulden des Veranstalters kurzfristige Verspätungen von vereinbarten Anfangszeiten eintreten, oder vereinbarte Endzeiten überschritten werden und für BUSY BEE CATERING dadurch Kosten entstehen.</p>
</li>
<li>
<p>Der Veranstalter ist auch im rechtlichen Sinne Veranstalter der Veranstaltung und haftet allein und unbeschränkt für diese. Es obliegt allein dem Veranstalter, hierfür die entsprechenden Versicherungen abzuschließen.</p>
</li>
<li>
<p>Gegenüber dem Veranstalter haftet die BUSY BEE CATERING für ihre erbrachten Leistungen (einschließlich für ihre gesetzlichen Vertreter und ihre Erfüllungsgehilfen) nur bei Vorsatz oder grober Fahrlässigkeit. Bei der Verletzung vertragswesentlicher Pflichten besteht die Haftung auch bei einfacher Fahrlässigkeit, jedoch begrenzt auf den vorhersehbaren, vertragstypischen Schaden (maximal jedoch in Höhe der vereinbarten Vergütung zwischen den Parteien). Ansprüche für Schäden aus der Verletzung des Lebens, des Körper oder der Gesundheit sowie nach dem Produkthaftungsgesetz bleiben von vorstehenden Beschränkungen unberührt. Im Übrigen gelten die gesetzlichen Bestimmungen hinsichtlich der Haftung zwischen den Parteien.</p>
</li>
<li>
<p>Hat BUSY BEE CATERING begründeten Anlass zu der Annahme, dass die Veranstaltung den reibungslosen Geschäftsbetrieb, die Sicherheit oder den Ruf der Firma zu gefährden droht, sowie im Falle höherer Gewalt, so steht BUSY BEE CATERING ein außerordentliches Kündigungsrecht zu. Soweit es BUSY BEE CATERING zumutbar und möglich, kann Veranstalter die Leistungen nach vorheriger Absprache und in Einvernehmen mit BUSY BEE CATERING sodann an einem anderen Tag in Anspruch nehmen. Etwaige Mehrkosten sind in diesem Fall durch Veranstalter zu tragen. Im Übrigen bestehen in diesen Fällen keinerlei Schadensersatz- oder sonstige Ansprüche gegen BUSY BEE CATERING.</p>
</li>
<li>
<p>Erfüllungsort und Gerichtsstand ist der Sitz von BUSY BEE CATERING in Berlin.</p>
</li>
<li>
<p>Sind diese allgemeinen Geschäftsbedingungen ganz oder teilweise unwirksam oder aus sonstigen Gründen nicht Vertragsbestandteil geworden, so bleibt der Vertrag im Übrigen wirksam. Soweit die Bestimmungen unwirksam oder nicht Vertragsbestandteil geworden sind, richtet sich der Inhalt des Vertrags hinsichtlich dieser Bestimmungen nach den gesetzlichen Vorschriften.</p>
</li>
<li>
<p>Abweichende Vereinbarungen oder Nebenabsprachen zu diesen allgemeinen Geschäftsbedingungen bedürfen der Schriftform.</p>
</li>

  <li>Stornierungsgebühren:</li>
</ol>
<table>
<thead>
<tr>
<th>Abbestellung (Kalendertag) vor Veranstaltung</th>
<th>Anspruch BUSY BEE CATERING GmbH.</th>
</tr>
</thead>
<tbody>
<tr>
<td>über 21 Tage</td>
<td>pauschal 300,00 Euro Gebühr</td>
</tr>
<tr>
<td>21 bis 14 Tage</td>
<td>30 % vom kalkulierten Gesamtpreis</td>
</tr>
<tr>
<td>14 bis 4 Tage</td>
<td>50 % vom kalkulierten Gesamtpreis</td>
</tr>
<tr>
<td>3 Tage</td>
<td>80 % vom kalkulierten Gesamtpreis</td>
</tr>
<tr>
<td>24 Stunden</td>
<td>100 % vom kalkulierten Gesamtpreis</td>
</tr>
</tbody>
</table>
<p>zzgl. externer Leistungen (z.B. Anmietung von Hallen, Künstlern, ...)</p>
{% endblock %}
