{% load static %}

<!DOCTYPE html>
<html lang="de" class="js csstransforms3d sb-init sb-scroll-lock">
<head>
    <title>Bio &amp; Allergene Welt |BusyBee Catering Berlin</title>
    <link rel="canonical" href="https://www.busybee-catering.de/bio-und-allergene-welt">
  {% include 'pages/head.html' %}
</head>
<body id="top" class="">

    <div id="sb-site" class="BioAllergeneWelt" style="min-height: 916px;">        <header id="header">
            <div id="logo">
                <a href="/"><img src="{% static 'img/logo.png' %}" alt="BusyBee Catering Berlin"></a>
            </div>
            <div id="navbar">
<ul class="navigation">            <li class="">
                <a href="/">BEEourGuest
                </a>
            </li>            <li class="">
                <a href="/busy-bee-world">Busy Bee World
                </a>
            </li>            <li class="">
                <a href="/jetzt-anfragen">Jetzt anfragen
                </a>
            </li></ul>

                <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
            </div>
        </header>        <section id="body" class=""><h1>Bio &amp; Allergene Welt</h1>
<h2>100% Bio. 100% Busy Bee.</h2>
<div class="cont-2col">
<div class="cell-2col-l">
<p><img alt="" class="float-left" src="{% static 'img/bio_01.png' %}"> Fisch aus zertifizierter, nachhaltiger Fischerei. Qualitätsfleisch aus artgerechter Haltung. Eier aus Freilandhaltung. Milch von ökologisch wirtschaftlichen Bauernhöfen. Gemüse aus regionalem Anbau. Fairtrade-zertifizierter Kaffee. Bio-Säfte und Limonaden. All das steht ganz oben auf unserer Einkaufsliste. Verantwortungsvolles, nachhaltiges Handeln - wir bieten Ihnen gerne auf Wunsch Catering in kompletter Bio Qualität. Erleben Sie den Unterschied.</p>
</div>
<div class="cell-2col-r">
<p><img alt="" src="{% static 'img/ba_01.jpg' %}"></p>
</div>
</div>
<div class="clr"></div>
<h2>Lebensmittel­unverträglichkeit</h2>
<div class="cont-2col">
<div class="cell-2col-l">
<p>Ein Schreckenswort. Allergene Kennzeichnung. Eine Pflicht. Bei einer Lebensmittelunverträglichkeit reagieren Betroffene auf bestimmte Stoffe in Lebensmitteln mit körperlichen Beschwerden. Das ist wirklich das Allerletzte, was wir wollen, wenn sie Köstlichkeiten von Busy Bee genießen. Deshalb kennzeichnen wir auf all unseren Speiseplänen die 14 Zutaten und Stoffe, die Ihr Leben möglicherweise verkomplizieren und erschweren. </p>
<p>Sollte eine Allergene-Kennzeichnung nicht ausreichen, dann sprechen Sie uns direkt an. Auch für Gäste mit z.B. Kontakt-Allergien oder anderen Lebensmittelunverträglichkeiten finden wir eine passende und geschmackvolle Alternative.</p>
</div>
<div class="cell-2col-r">
<p><img alt="" src="{% static 'img/ba_02.png' %}"></p>
</div>
</div>
<div class="clr"></div>
<h3>Kennzeichnungspflichtige Allergene</h3>
<table border="0" style="border:none;"><tbody><tr><td rowspan="2" align="center" style="border:none;">
<p><img alt="" src="{% static 'img/al_03.png' %}"></p>
</td>
    <td style="border:none;"><strong>Glutenhaltiges Getreide</strong><br>und daraus hergestellte Erzeugnisse</td>
  </tr><tr><td style="border:none;">
      Dazu gehören: Dinkel, Kamur, Einkorn, Emmer<br>
      Beispielerzeugnisse: Couscous, Grieß, Stärke, Mehl
    </td>
  </tr><tr><td rowspan="2" align="center" style="border:none;">
<p><img alt="" src="{% static 'img/al_06.png' %}"></p>
</td>
    <td style="border:none;"><strong>Krebstiere</strong><br>und daraus gewonnene Erzeugnisse</td>
  </tr><tr><td style="border:none;">
      Dazu gehören: Garnelen, Hummer, Krabben<br>
      Beispielerzeugnisse: Krebsbutter, Shrimpspaste
    </td>
  </tr><tr><td rowspan="2" align="center" style="border:none;">
<p><img alt="" src="{% static 'img/al_05.png' %}"></p>
</td>
    <td style="border:none;"><strong>Eier</strong><br>und daraus gewonnene Erzeugnisse</td>
  </tr><tr><td style="border:none;">
      Dazu gehören: Hühnereier, Gans, Pute, Wachtel, Taube, Strauß<br>
      Beispielerzeugnisse: Flüssigei, Eigelb, Trockeneigelb, Trockeneiweiß
    </td>
  </tr><tr><td rowspan="2" align="center" style="border:none;">
<p><img alt="" src="{% static 'img/al_01.png' %}"></p>
</td>
    <td style="border:none;"><strong>Fische</strong><br>und daraus gewonnene Erzeugnisse</td>
  </tr><tr><td style="border:none;">
      Dazu gehören: alle Sorten von Fisch (Forelle, Lachs)<br>
      Beispielerzeugnisse: Surimi, Kaviar
    </td>
  </tr><tr><td rowspan="2" align="center" style="border:none;">
<p><img alt="" src="{% static 'img/al_07.png' %}"></p>
</td>
    <td style="border:none;"><strong>Erdnüsse</strong><br>und daraus gewonnene Erzeugnisse</td>
  </tr><tr><td style="border:none;">
      Beispielerzeugnisse: Erdnussöl, Erdnussbutter, Erdnussmus
    </td>
  </tr><tr><td rowspan="2" align="center" style="border:none;">
<p><img alt="" src="{% static 'img/al_14.png' %}"></p>
</td>
    <td style="border:none;"><strong>Sojabohnen</strong><br>und daraus gewonnene Erzeugnisse</td>
  </tr><tr><td style="border:none;">
      Beispielerzeugnisse: nicht raffiniertes Sojaöl, Sojalecithin, Tofu, Miso, Tempeh, Sojasprossen
    </td>
  </tr><tr><td rowspan="2" align="center" style="border:none;">
<p><img alt="" src="{% static 'img/al_04.png' %}"></p>
</td>
    <td style="border:none;"><strong>Milch</strong><br>und daraus gewonnene Erzeugnisse</td>
  </tr><tr><td style="border:none;">
      Dazu gehören: Milch von der Kuh, Ziege, Schaf, Büffel, Pferd<br>
      Beispielerzeugnisse: Milcheiweiß, Milchzucker (Laktose), Milchpulver, Sahne, Joghurt, Käse
    </td>
  </tr><tr><td rowspan="2" align="center" style="border:none;">
<p><img alt="" src="{% static 'img/al_13.png' %}"></p>
</td>
    <td style="border:none;"><strong>Schalenfrüchte</strong><br>und daraus gewonnene Erzeugnisse</td>
  </tr><tr><td style="border:none;">
      Dazu gehören: Mandeln, Paranüsse, Pistazien<br>
      Beispielerzeugnisse: Nussbutter, Nusspaste
    </td>
  </tr><tr><td rowspan="2" align="center" style="border:none;">
<p><img alt="" src="{% static 'img/al_12.png' %}"></p>
</td>
    <td style="border:none;"><strong>Sellerie</strong><br>und daraus gewonnene Erzeugnisse</td>
  </tr><tr><td style="border:none;">
      Dazu gehören: Knollen-, Bleich- und Staudensellerie<br>
      Beispielerzeugnisse: Selleriesaat, Gemüsesaft aus Sellerie, Selleriesalz
    </td>
  </tr><tr><td rowspan="2" align="center" style="border:none;">
<p><img alt="" src="{% static 'img/al_11.png' %}"></p>
</td>
    <td style="border:none;"><strong>Senf</strong><br>und daraus gewonnene Erzeugnisse</td>
  </tr><tr><td style="border:none;">
      Dazu gehören: alle Senfsorten (weiße, braune und schwarze Senfsaaten)<br>
      Beispielerzeugnisse: Senfkörner, Senfpulver, Senfsprossen, Senföl
    </td>
  </tr><tr><td rowspan="2" align="center" style="border:none;">
<p><img alt="" src="{% static 'img/al_10.png' %}"></p>
</td>
    <td style="border:none;"><strong>Sesamsamen</strong><br>und daraus gewonnene Erzeugnisse</td>
  </tr><tr><td style="border:none;">
      Dazu gehören: alle Sesamsorten (gelb und schwarz)<br>
      Beispielerzeugnisse: Sesampaste (Tahin), Sesamöl, Sesamsamen, Gomasio (Sesamsalz) 
    </td>
  </tr><tr><td rowspan="2" align="center" style="border:none;">
<p><img alt="" src="{% static 'img/al_09.png' %}"></p>
</td>
    <td style="border:none;"><strong>Schwefeldioxid und Sulfit</strong><br>ab einer Konzentration von mehr als 10mg/kg oder 10mg/l</td>
  </tr><tr><td style="border:none;">
      Beispielerzeugnisse: als Konservierungs- und Antioxidationsmittel: Schwefeldioxid E220, Natriumsulfit E221
    </td>
  </tr><tr><td rowspan="2" align="center" style="border:none;">
<p><img alt="" src="{% static 'img/al_02.png' %}"></p>
</td>
    <td style="border:none;"><strong>Lupinen</strong><br>und daraus gewonnene Erzeugnisse</td>
  </tr><tr><td style="border:none;">
      Beispielerzeugnisse: Lupinenmehl, Lupinenkleie, Lupinenprotein
    </td>
  </tr><tr><td rowspan="2" align="center" style="border:none;">
<p><img alt="" src="{% static 'img/al_08.png' %}"></p>
</td>
    <td style="border:none;"><strong>Weichtiere</strong><br>und daraus gewonnene Erzeugnisse</td>
  </tr><tr><td style="border:none;">
      Dazu gehören: Schnecken, Muscheln, Tintenfische
    </td>
  </tr></tbody></table>
<hr><ul id="hexGrid">
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/inspiration">
        <img src="{% static 'img/inspiration.jpg' %}">
        <h6>Inspiration</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/fingerfood">
        <img src="{% static 'img/ffood.jpg' %}">
        <h6>Fingerfood</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/buffet-menue">
        <img src="{% static 'img/buffet.jpg' %}">
        <h6>Buffet &amp; Menü</h6>
        <p>— view —</p>
      </a>
    </div>
  </li> 
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/busy-bee-world#unser-team">
        <img src="{% static 'img/team.jpg' %}">
        <h6>Unser Team</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>  
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/event-consulting">
        <img src="{% static 'img/event_con.jpg' %}">
        <h6>Event Consulting</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/office-lunch">
        <img src="{% static 'img/office_lunch.jpg' %}">
        <h6>Office Lunch</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/getraenke">
        <img src="{% static 'img/getraenke.jpg' %}">
        <h6>Getränke</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/full-service">
        <img src="{% static 'img/full_service.jpg' %}">
        <h6>Full Service</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/bio-und-allergene-welt">
        <img src="{% static 'img/allergene.jpg' %}">
        <h6>Bio &amp; Allergene Welt</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
 </ul>        </section>        <footer id="footer">
            <div class="totop">
                <span><a href="/bio-und-allergene-welt#" id="toTop"><i class="fa fa-arrow-up"></i></a></span>
            </div>
            <div id="footer1"><div style="text-align:center;padding-top: 2rem;">
<p><a href="https://www.busybee-catering.de/kontakt">Kontakt</a> • <a href="https://www.busybee-catering.de/datenschutz">Datenschutz</a> • <a href="https://www.busybee-catering.de/impressum">Impressum</a> • <a href="https://www.busybee-catering.de/agb">AGB</a></p>
</div>
            </div>
            <div id="footer2"><p style="font-size:0.2rem;">&nbsp;</p></div>
        </footer>    </div>
    <div class="sb-slidebar sb-left sb-width-thin">
        <div id="panel">
<ul class="navigation">            <li class="">
                <a href="/">BEEourGuest
                </a>
            </li>            <li class="">
                <a href="/busy-bee-world">Busy Bee World
                </a>
            </li>            <li class="">
                <a href="/jetzt-anfragen">Jetzt anfragen
                </a>
            </li></ul>

        </div>
    </div>
        <script>
        $(function () {
            $(document).ready(function() {
              $.slidebars({
                hideControlClasses: true,
                scrollLock: true
              });
            });
        });
        </script>

</body></html>
