{% load static %}

<!DOCTYPE html>
<html lang="de" class="js csstransforms3d sb-init sb-scroll-lock">
<head>
  <title>Event Consulting | BusyBee Catering Berlin</title>
  <link rel="canonical" href="https://www.busybee-catering.de/event-consulting">
  {% include 'pages/head.html' %}
</head>
<body id="top" class="">


    <div id="sb-site" class="EventConsulting" style="min-height: 916px;">        <header id="header">
            <div id="logo">
                <a href="/"><img src="{% static 'img/logo.png' %}" alt="BusyBee Catering Berlin"></a>
            </div>
            <div id="navbar">
<ul class="navigation">            <li class="">
                <a href="/">BEEourGuest
                </a>
            </li>            <li class="">
                <a href="/busy-bee-world">Busy Bee World
                </a>
            </li>            <li class="">
                <a href="/jetzt-anfragen">Jetzt anfragen
                </a>
            </li></ul>

                <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
            </div>
        </header>        <section id="body" class=""><h1>Event Consulting</h1>
<h2>Trends setzen und leben</h2>
<p><img alt="" class="img-center" src="{% static 'img/ec_03.jpg' %}"></p>
<p>Berlin ist die Stadt der Erlebnishungrigen und wird jeden Tag noch ein bisschen internationaler. Die Mischung aus Lebenslust, Genuss und Kunst ist bis heute der Grund, warum sich die Stadt immer freier anfühlt als andere Städte in der Welt. Das spiegelt sich auch auf dem Veranstaltungsparkett wieder. Hier wird entwickelt. Hier werden Trends gesetzt. Und das mittlerweile in jedem Segment. Arm, aber sexy war gestern. Schon seit längerem fühlt sich Berlin auf allen Ebenen Zuhause. Die Möglichkeiten sind grenzenlos. Erlebnisse schaffen, Emotionen wecken, Leidenschaft erzeugen. Gern bieten wir Ihnen ein Kostprobe und stehen Ihnen zur Seite oder managen den gesamten Event-Prozess für Sie! Denn wir kennen uns in Berlin aus!</p>
<div class="cont-2col">
<div class="cell-2col-l">
<p><img alt="" src="{% static 'img/ec_01.jpg' %}"></p>
</div>
<div class="cell-2col-r">
<p><img alt="" src="{% static 'img/ec_02.jpg' %}"></p>
</div>
</div>
<div class="clr"></div>
<p>Sie haben das Ereignis und noch keine konkrete Idee zur Umsetzung? Oder haben Sie ein Großevent in naher Zukunft, aber keine personellen Kapazitäten oder fehlt die Expertise für genau diese Planung und Umsetzung? Kein Problem. Wir entwickeln diesen wichtigen Anlass mit Ihnen und beraten, organisieren und operieren rund um Ihren Auftritt.</p>
<hr>
<h2>Unsere Dienstleistung baut auf drei Säulen auf:</h2>
<ul>
<li>Konzeptentwicklung und –planung, inklusive Bedarfsanalyse, Budgetierung</li>
<li>Eventdurchführung und Umsetzung mit Zeitplanung, Überwachung und Beauftragung, wenn nötig, von Subunternehmen</li>
<li>Netzwerken – mit unseren Partnern und Dienstleistern aus anderen Fachbereichen managen wir alle eventrelevanten Herausforderungen zu Ihrer Zufriedenheit und bieten selbstverständlich eine transparente Preisgestaltung. </li>
</ul>
<hr>
<h2>Was wir auch können:</h2>
<p>Wir helfen da, wo Sie uns brauchen, denn nicht immer geht es um die Komplettvergabe von Events. Nutzen Sie uns doch als Ihren verlängerten Arm, wenn es um das Checken einer Location oder um kleinere „Alltags-Jobs“ oder die Auswahl des richtigen Konzeptes geht. Egal ob kurzfristig spontan oder im Falle, dass eine temporär intensivere, feste Betreuung und Anwesenheit eines unserer Mitarbeiters im Gesamtzyklus Ihrer Veranstaltung erwünscht ist, dann liefern wir auch gerne diesen Service.</p>
<div class="cont-2col">
<div class="cell-2col-l">
<p>Mit mehr als 25 Jahren Erfahrung im Eventmanagement unterstützen Busy Bee`s Geschäftsführerinnen Christine Kanis und Martina Knoke Ihre Botschaft und entwickeln maßgeschneiderte Lösungen für Ihren Auftritt. Dabei bildet eine ehrliche Beratung und die Machbarkeitsanalyse ein stabiles und zuverlässiges Fundament des Erfolges. Es geht vor allem um die Frage: Was brauchen Sie als unser Kunde wirklich und wie schaffen wir gemeinsam ein erfolgreiches Erlebnis, ein gelungenes Event, eine stimmige Sitzung? Empfänge, Hof- und Straßenfeste, Firmenjubiläen, Galas, Tagungen … wir finden die richtige Herangehensweise und den passenden Rahmen.</p>
</div>
<div class="cell-2col-r">
<p><img alt="" src="{% static 'img/ec_04.jpg' %}"></p>
</div>
</div>
<div class="clr"></div>
<hr><ul id="hexGrid">
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/inspiration">
        <img src="{% static 'img/inspiration.jpg' %}">
        <h6>Inspiration</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/fingerfood">
        <img src="{% static 'img/ffood.jpg' %}">
        <h6>Fingerfood</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/buffet-menue">
        <img src="{% static 'img/buffet.jpg' %}">
        <h6>Buffet &amp; Menü</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/busy-bee-world#unser-team">
        <img src="{% static 'img/team.jpg' %}">
        <h6>Unser Team</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/event-consulting">
        <img src="{% static 'img/event_con.jpg' %}">
        <h6>Event Consulting</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/office-lunch">
        <img src="{% static 'img/office_lunch.jpg' %}">
        <h6>Office Lunch</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/getraenke">
        <img src="{% static 'img/getraenke.jpg' %}">
        <h6>Getränke</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/full-service">
        <img src="{% static 'img/full_service.jpg' %}">
        <h6>Full Service</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/bio-und-allergene-welt">
        <img src="{% static 'img/allergene.jpg' %}">
        <h6>Bio &amp; Allergene Welt</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
 </ul>        </section>        <footer id="footer">
            <div class="totop">
                <span><a href="/event-consulting#" id="toTop"><i class="fa fa-arrow-up"></i></a></span>
            </div>
            <div id="footer1"><div style="text-align:center;padding-top: 2rem;">
<p><a href="/kontakt">Kontakt</a> • <a href="/datenschutz">Datenschutz</a> • <a href="/impressum">Impressum</a> • <a href="/agb">AGB</a></p>
</div>
            </div>
            <div id="footer2"><p style="font-size:0.2rem;">&nbsp;</p></div>
        </footer>    </div>
    <div class="sb-slidebar sb-left sb-width-thin">
        <div id="panel">
<ul class="navigation">            <li class="">
                <a href="/">BEEourGuest
                </a>
            </li>            <li class="">
                <a href="/busy-bee-world">Busy Bee World
                </a>
            </li>            <li class="">
                <a href="/jetzt-anfragen">Jetzt anfragen
                </a>
            </li></ul>

        </div>
    </div>
        <script>
        $(function () {
            $(document).ready(function() {
              $.slidebars({
                hideControlClasses: true,
                scrollLock: true
              });
            });
        });
        </script>

</body></html>
