{% extends 'base.pug' %}
{% load static %}

{% block title %} BEEourGuest {{ block.super }}{% endblock %}
{% block extra_head %}
  <link rel="canonical" href="https://www.busybee-catering.de/">
{% endblock %}

{% block content %}
<h1>Herzlich Willkommen!</h1>
<p>Schauen Sie sich um in unserer kulinarischen und eventaffinen Busy Bee World: Wabe für Wabe mit höchstem Anspruch an konzeptionellem Können, Liebe zum Detail, variantenreichem Kochen und charmanten und kompetenten Service.</p>
<h2>Bee our Guest!</h2>
{% endblock %}
