{% extends 'base.pug' %}
{% load static %}

{% block title %} Inspiration {{ block.super }}{% endblock %}
{% block extra_head %}
  <link rel="canonical" href="https://www.busybee-catering.de/inspiration">
{% endblock %}

{% block content %}

<h1>Inspiration</h1>
<h2>Den Einfall unseres Lebens …</h2>
<div class="cont-2col">
<div class="cell-2col-l">
<p>… ist es nicht das, was wir alle suchen? Auch schon die Römer, als Feinschmecker bekannt, nutzten den Begriff „inspiratio“ um „Beseelung“, „Einhauchen von spiritus also Leben, Seele, Geist “ auszudrücken. </p>
<p>Bei BusyBee versteht man unter Inspiration das stete Bedürfnis, den menschlichen Sinnen - Schmecken, Riechen, Hören und Fühlen - etwas Gutes zu tun. Alle Sinne beschäftigen und verwöhnen. Das ist unser Ansatz. Dabei machen wir den Klassikern je nach Bedarf Dampf und passen sie den Trends der Großstadtmetropole an oder verwöhnen Sie mit traditionellen, fast vergessenen Herstellungsfeinheiten. Entdecken Sie unsere kulinarische Vielfalt zu jedem Anlass neu – und lassen Sie sich inspirieren.</p>
</div>
<div class="cell-2col-r">
<p><img alt="" src="{% static 'img/in_04.jpg' %}"></p>
</div>
</div>
<div class="clr"></div>


  <section class="slideshow" id="slideshow">
      <div class="slideshow-inner">
        <div class="slides">
          <div class="slide is-active ">
            <div class="slide-content">
              <div class="container">
                <div class="caption">
                  <div class="title">
                  </div>
                  <div class="text"></div>
                </div>
              </div>
            </div>
            <div class="image-container">
              <img src="{% static 'img/8fe16ea7a33fe3929dae81547239287407a2780a-in01.jpeg' %}">
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="container">
                <div class="caption">
                  <div class="title">
                  </div>
                  <div class="text"></div>
                </div>
              </div>
            </div>
            <div class="image-container">
              <img src="{% static 'img/2093332937488cf011449f1bcda65b60ae145823-in02.jpeg' %}">
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="container">
                <div class="caption">
                  <div class="title">
                  </div>
                  <div class="text"></div>
                </div>
              </div>
            </div>
            <div class="image-container">
              <img src="{% static 'img/1ff06a1ac44836e1c8e216ea617229dd6a0ce33b-in03.jpeg' %}">
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="container">
                <div class="caption">
                  <div class="title">
                  </div>
                  <div class="text"></div>
                </div>
              </div>
            </div>
            <div class="image-container">
              <img src="{% static 'img/437148a39e1cccc7c77dbfbaf541c5534ba4265c-in05.jpeg' %}">
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="container">
                <div class="caption">
                  <div class="title">
                  </div>
                  <div class="text"></div>
                </div>
              </div>
            </div>
            <div class="image-container">
              <img src="{% static 'img/b24ea91daa0671637399650d315a55e199c567f5-in06.jpeg' %}">
            </div>
          </div>
        </div>
        <div class="pagination">
          <div class="item is-active">
            <span class="icon">1</span>
          </div>
          <div class="item">
            <span class="icon">2</span>
          </div>
          <div class="item">
            <span class="icon">3</span>
          </div>
          <div class="item">
            <span class="icon">4</span>
          </div>
          <div class="item">
            <span class="icon">5</span>
          </div>
        </div>
        <div class="arrows">
          <div class="arrow prev">
            <span class="svg svg-arrow-left">
              <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"/> </svg>
              <span class="alt sr-only"></span>
            </span>
          </div>
          <div class="arrow next">
            <span class="svg svg-arrow-right">
              <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"/> </svg>
              <span class="alt sr-only"></span>
            </span>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
