{% load static %}

<!DOCTYPE html>
<html lang="de" class="js csstransforms3d sb-init sb-scroll-lock">
<head>
    <title>Inspiration |BusyBee Catering Berlin</title></head>
<body id="top" class="">
    <link rel="canonical" href="https://www.busybee-catering.de/inspiration">
{% include 'pages/head.html' %}

    <div id="sb-site" class="Inspiration" style="min-height: 916px;">        <header id="header" class="scrolled">
            <div id="logo">
                <a href="/"><img src="{% static 'img/logo.png' %}" alt="BusyBee Catering Berlin"></a>
            </div>
            <div id="navbar">
<ul class="navigation">            <li class="">
                <a href="/">BEEourGuest
                </a>
            </li>            <li class="">
                <a href="/busy-bee-world">Busy Bee World
                </a>
            </li>            <li class="">
                <a href="/jetzt-anfragen">Jetzt anfragen
                </a>
            </li></ul>

                <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
            </div>
        </header>        <section id="body" class=""><h1>Inspiration</h1>
<h2>Den Einfall unseres Lebens …</h2>
<div class="cont-2col">
<div class="cell-2col-l">
<p>… ist es nicht das, was wir alle suchen? Auch schon die Römer, als Feinschmecker bekannt, nutzten den Begriff „inspiratio“ um „Beseelung“, „Einhauchen von spiritus also Leben, Seele, Geist “ auszudrücken. </p>
<p>Bei BusyBee versteht man unter Inspiration das stete Bedürfnis, den menschlichen Sinnen - Schmecken, Riechen, Hören und Fühlen - etwas Gutes zu tun. Alle Sinne beschäftigen und verwöhnen. Das ist unser Ansatz. Dabei machen wir den Klassikern je nach Bedarf Dampf und passen sie den Trends der Großstadtmetropole an oder verwöhnen Sie mit traditionellen, fast vergessenen Herstellungsfeinheiten. Entdecken Sie unsere kulinarische Vielfalt zu jedem Anlass neu – und lassen Sie sich inspirieren.</p>
</div>
<div class="cell-2col-r">
<p><img alt="" src="{% static 'img/in_04.jpg' %}"></p>
</div>
</div>
<div class="clr"></div>


  <section class="slideshow" id="slideshow">
      <div class="slideshow-inner">
        <div class="slides">
          <div class="slide is-active ">
            <div class="slide-content">
              <div class="container">
                <div class="caption">
                  <div class="title">
                  </div>
                  <div class="text"></div>
                </div>
              </div>
            </div>
            <div class="image-container">
              <img src="{% static 'img/8fe16ea7a33fe3929dae81547239287407a2780a-in01.jpeg' %}">
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="container">
                <div class="caption">
                  <div class="title">
                  </div>
                  <div class="text"></div>
                </div>
              </div>
            </div>
            <div class="image-container">
              <img src="{% static 'img/2093332937488cf011449f1bcda65b60ae145823-in02.jpeg' %}">
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="container">
                <div class="caption">
                  <div class="title">
                  </div>
                  <div class="text"></div>
                </div>
              </div>
            </div>
            <div class="image-container">
              <img src="{% static 'img/1ff06a1ac44836e1c8e216ea617229dd6a0ce33b-in03.jpeg' %}">
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="container">
                <div class="caption">
                  <div class="title">
                  </div>
                  <div class="text"></div>
                </div>
              </div>
            </div>
            <div class="image-container">
              <img src="{% static 'img/437148a39e1cccc7c77dbfbaf541c5534ba4265c-in05.jpeg' %}">
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="container">
                <div class="caption">
                  <div class="title">
                  </div>
                  <div class="text"></div>
                </div>
              </div>
            </div>
            <div class="image-container">
              <img src="{% static 'img/b24ea91daa0671637399650d315a55e199c567f5-in06.jpeg' %}">
            </div>
          </div>
        </div>
        <div class="pagination">
          <div class="item is-active">
            <span class="icon">1</span>
          </div>
          <div class="item">
            <span class="icon">2</span>
          </div>
          <div class="item">
            <span class="icon">3</span>
          </div>
          <div class="item">
            <span class="icon">4</span>
          </div>
          <div class="item">
            <span class="icon">5</span>
          </div>
        </div>
        <div class="arrows">
          <div class="arrow prev">
            <span class="svg svg-arrow-left">
              <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"/> </svg>
              <span class="alt sr-only"></span>
            </span>
          </div>
          <div class="arrow next">
            <span class="svg svg-arrow-right">
              <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"/> </svg>
              <span class="alt sr-only"></span>
            </span>
          </div>
        </div>
      </div>
    </section>


{% include 'pages/slideshow.html' %}





<hr><ul id="hexGrid">
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/inspiration">
        <img src="{% static 'img/inspiration.jpg' %}">
        <h6>Inspiration</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/fingerfood">
        <img src="{% static 'img/ffood.jpg' %}">
        <h6>Fingerfood</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/buffet-menue">
        <img src="{% static 'img/buffet.jpg' %}">
        <h6>Buffet &amp; Menü</h6>
        <p>— view —</p>
      </a>
    </div>
  </li> 
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/busy-bee-world#unser-team">
        <img src="{% static 'img/team.jpg' %}">
        <h6>Unser Team</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>  
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/event-consulting">
        <img src="{% static 'img/event_con.jpg' %}">
        <h6>Event Consulting</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/office-lunch">
        <img src="{% static 'img/office_lunch.jpg' %}">
        <h6>Office Lunch</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/getraenke">
        <img src="{% static 'img/getraenke.jpg' %}">
        <h6>Getränke</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/full-service">
        <img src="{% static 'img/full_service.jpg' %}">
        <h6>Full Service</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/bio-und-allergene-welt">
        <img src="{% static 'img/allergene.jpg' %}">
        <h6>Bio &amp; Allergene Welt</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
 </ul>        </section>        <footer id="footer">
            <div class="totop">
                <span><a href="/inspiration#" id="toTop"><i class="fa fa-arrow-up"></i></a></span>
            </div>
            <div id="footer1"><div style="text-align:center;padding-top: 2rem;">
<p><a href="/kontakt">Kontakt</a> • <a href="/datenschutz">Datenschutz</a> • <a href="/impressum">Impressum</a> • <a href="/agb">AGB</a></p>
</div>
            </div>
            <div id="footer2"><p style="font-size:0.2rem;">&nbsp;</p></div>
        </footer>    </div>
    <div class="sb-slidebar sb-left sb-width-thin">
        <div id="panel">
<ul class="navigation">            <li class="">
                <a href="/">BEEourGuest
                </a>
            </li>            <li class="">
                <a href="/busy-bee-world">Busy Bee World
                </a>
            </li>            <li class="">
                <a href="/jetzt-anfragen">Jetzt anfragen
                </a>
            </li></ul>

        </div>
    </div>
        <script>
        $(function () {
            $(document).ready(function() {
              $.slidebars({
                hideControlClasses: true,
                scrollLock: true
              });
            });
        });
        </script>

</body></html>
