{% extends 'base.pug' %}
{% load static %}

{% block title %} Kontakt {{ block.super }}{% endblock %}
{% block extra_head %}
  <link rel="canonical" href="https://www.busybee-catering.de/kontakt">
  <style>
      #id_captcha_1 {width: 100px; display: inline-block; margin: 0 0 0 20px;}
      img.captcha {float: left;}
      ul.errorlist {margin: 0 0 .425rem 0; list-style: none; color: #BA2121; padding: 0;}
      label:after {content: "*"; color: #ffd400; font-size: 29px;}
  </style>
{% endblock %}

{% block content %}

<h1>Kontakt</h1>
<div class="cont-2col">
<div class="cell-2col-l">
<p>Busy Bee Catering GmbH<br>
Agricolastraße 28<br>
10555 Berlin<br>
&nbsp;<br>
Fon +49 (0)30 / 61 30 51 80<br>
Fax     +49 (0)30 / 61 30 51 81<br>
&nbsp;<br>
Bürozeiten: 09:00-17:00 Uhr Montag-Freitag</p>
</div>

<div class="cell-2col-r">
  <p></p>
  <a href="https://www.google.de/maps/place/Busy+Bee+Catering+GmbH/@52.5397281,13.4143824,17z/data=!3m2!4b1!5s0x47a84e0026129c2f:0x813d271fa85c3cb3!4m5!3m4!1s0x47a84e002607f29b:0x6c78aa0976f2ad6!8m2!3d52.5397281!4d13.4165711" target="_blank">
  <div class="karte" style="background: url({% static 'img/karte.png' %}); height: 323px; background-size: cover;"></div></a>
  <p></p>
</div>
</div>
<div class="clr"></div>

<form name="kontakt" action="/kontakt" method="POST" id="kontakt">
  {{ form }}
  <br clear="both">
  <input type="checkbox" id="agree" required="true"></checkbox>
  <label class="checkbox" for="agree">
    Ich stimme den
    <a href="/datenschutz" target="_blank">Datenschutzbestimmungen</a> zu
  </label>
  <div class="buttons">
    <button class="button" type="submit">Absenden</button>
    <button class="button" type="reset">Zurücksetzen</button>
  </div>
  <input type="hidden" name="form-nonce" value="b7435470412ecb60a41a74534111411c">
</form>
{% endblock %}

