{% extends 'base.pug' %}
{% load static %}

{% block title %} Kontakt {{ block.super }}{% endblock %}
{% block extra_head %}
  <link rel="canonical" href="https://www.busybee-catering.de/fingerfood">
  <style>.danke {display: flex; padding: 3rem 0; justify-content: center; align-items: center;}</style>
{% endblock %}

{% block content %}
<h1>Kontakt</h1>
<div class="cont-2col">
<div class="cell-2col-l">
<p>Busy Bee Catering GmbH<br>
Hagenauer Straße 7<br>
10435 Berlin<br>
&nbsp;<br>
Fon +49 (0)30 / 61 30 51 80<br>
Fax     +49 (0)30 / 61 30 51 81<br>
&nbsp;<br>
Bürozeiten: 09:00-17:00 Uhr Montag-Freitag</p>
</div>

<div class="cell-2col-r">
  <p></p>
  <a href="https://www.google.de/maps/place/Busy+Bee+Catering+GmbH/@52.5397281,13.4143824,17z/data=!3m2!4b1!5s0x47a84e0026129c2f:0x813d271fa85c3cb3!4m5!3m4!1s0x47a84e002607f29b:0x6c78aa0976f2ad6!8m2!3d52.5397281!4d13.4165711" target="_blank">
  <div class="karte" style="background: url({% static 'img/karte.png' %}); height: 323px; background-size: cover;"></div></a>
  <p></p>
</div>
</div>
<div class="clr"></div>

<div class="danke">Vielen Dank für Ihre Nachricht!</div>

{% endblock %}
