{% load static %}

<!DOCTYPE html>
<html lang="de" class="js csstransforms3d sb-init sb-scroll-lock">
<head>
  {% include 'pages/head.html' %}
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyB1Fke8u4j4kpZb4w_2xW2MZjM0j0hr4Aw" type="text/javascript"></script>
  <style>.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}.gm-style .gm-style-mtc ul,.gm-style .gm-style-mtc li{box-sizing:border-box}</style>
  <style>.gm-control-active>img{box-sizing:content-box;display:none;left:50%;pointer-events:none;position:absolute;top:50%;transform:translate(-50%,-50%)}.gm-control-active>img:nth-child(1){display:block}.gm-control-active:hover>img:nth-child(1),.gm-control-active:active>img:nth-child(1){display:none}.gm-control-active:hover>img:nth-child(2),.gm-control-active:active>img:nth-child(3){display:block}</style>
  <style>.gm-ui-hover-effect{opacity:.6}.gm-ui-hover-effect:hover{opacity:1}</style>
  <style>.gm-style .gm-style-cc a,.gm-style .gm-style-cc button,.gm-style .gm-style-cc span,.gm-style .gm-style-mtc div{font-size:10px;box-sizing:border-box}</style>
  <style>@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style>
  <style>.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
  </style>
  <style>.gm-style img{max-width: none;}.gm-style {font: 400 11px Roboto, Arial, sans-serif; text-decoration: none;}</style><style id="stndz-style"></style>
  <title>Kontakt |BusyBee Catering Berlin</title>
  <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/44/14/intl/de_ALL/common.js"></script>

  <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/44/14/intl/de_ALL/util.js"></script>
  <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/44/14/intl/de_ALL/map.js"></script>
  <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/44/14/intl/de_ALL/marker.js"></script>
  <script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/44/14/intl/de_ALL/onion.js"></script>
  <style type="text/css">
    @-webkit-keyframes _gm8630 {
      0% { -webkit-transform: translate3d(0px,-500px,0); -webkit-animation-timing-function: ease-in; }
      50% { -webkit-transform: translate3d(0px,0px,0); -webkit-animation-timing-function: ease-out; }
      75% { -webkit-transform: translate3d(0px,-20px,0); -webkit-animation-timing-function: ease-in; }
      100% { -webkit-transform: translate3d(0px,0px,0); -webkit-animation-timing-function: ease-out; }
    }
</style>
<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/44/14/intl/de_ALL/controls.js"></script>
</head>
<body id="top" class="">


    <div id="sb-site" class="Kontakt" style="min-height: 916px;">        <header id="header">
            <div id="logo">
                <a href="/"><img src="{% static 'img/logo.png'%}" alt="BusyBee Catering Berlin"></a>
            </div>
            <div id="navbar">
<ul class="navigation">            <li class="">
                <a href="/">BEEourGuest
                </a>
            </li>            <li class="">
                <a href="/busy-bee-world">Busy Bee World
                </a>
            </li>            <li class="">
                <a href="/jetzt-anfragen">Jetzt anfragen
                </a>
            </li></ul>

                <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
            </div>
        </header>        <section id="body" class=""><h1>Kontakt</h1>
<div class="cont-2col">
<div class="cell-2col-l">
<p>Busy Bee Catering GmbH<br>
Hagenauer Straße 7<br>
10435 Berlin<br>
&nbsp;<br>
Fon +49 (0)30 / 61 30 51 80<br>
Fax     +49 (0)30 / 61 30 51 81<br>
&nbsp;<br>
Bürozeiten: 09:00-17:00 Uhr Montag-Freitag</p>
</div>

<div class="cell-2col-r">
  <p></p>
  <a href="https://www.google.de/maps/place/Busy+Bee+Catering+GmbH/@52.5397281,13.4143824,17z/data=!3m2!4b1!5s0x47a84e0026129c2f:0x813d271fa85c3cb3!4m5!3m4!1s0x47a84e002607f29b:0x6c78aa0976f2ad6!8m2!3d52.5397281!4d13.4165711" target="_blank">
  <div class="karte" style="background: url({% static 'img/karte.png' %}); height: 323px; background-size: cover;"></div></a>
  <p></p>
</div>
</div>
<div class="clr"></div>
<form name="kontakt" action="/kontakt" method="POST" id="kontakt">    <div class="form-field">                <div class="form-label">
                    <label class="inline">Name<span class="required">*</span>                    </label>
                </div>            <div class="form-data" data-grav-field="text" data-grav-disabled="true" data-grav-default="null">                        <div class="form-input-wrapper">                            <input name="data[name]" value="" type="text" placeholder="Vorname und Nachname" autofocus="autofocus" autocomplete="on" required="required">                        </div>
            </div>    </div>    <div class="form-field">                <div class="form-label">
                    <label class="inline">E-Mail<span class="required">*</span>                    </label>
                </div>            <div class="form-data" data-grav-field="email" data-grav-disabled="true" data-grav-default="null">                        <div class="form-input-wrapper">                            <input name="data[email]" value="" type="email" placeholder="Ihre E-Mail-Adresse" required="required">                        </div>
            </div>    </div>    <div class="form-field">                <div class="form-label">
                    <label class="inline">Nachricht<span class="required">*</span>                    </label>
                </div>            <div class="form-data" data-grav-field="textarea" data-grav-disabled="true" data-grav-default="null">    <div class="form-textarea-wrapper">
        <textarea name="data[nachricht]" class="input" placeholder="Ihre Nachricht an uns" required="required"></textarea>
    </div>
            </div>    </div><input type="hidden" name="__form-name__" value="kontakt">  <div class="buttons">          <button class="button" type="submit">Absenden
          </button>          <button class="button" type="reset">Zurücksetzen
          </button>  </div><input type="hidden" name="form-nonce" value="b7435470412ecb60a41a74534111411c">
  TODO: Form aktivieren
</form>
<ul id="hexGrid">
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/inspiration">
        <img src="{% static 'img/inspiration.jpg'%}">
        <h6>Inspiration</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/fingerfood">
        <img src="{% static 'img/ffood.jpg'%}">
        <h6>Fingerfood</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/buffet-menue">
        <img src="{% static 'img/buffet.jpg'%}">
        <h6>Buffet &amp; Menü</h6>
        <p>— view —</p>
      </a>
    </div>
  </li> 
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/busy-bee-world#unser-team">
        <img src="{% static 'img/team.jpg'%}">
        <h6>Unser Team</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>  
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/event-consulting">
        <img src="{% static 'img/event_con.jpg'%}">
        <h6>Event Consulting</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/office-lunch">
        <img src="{% static 'img/office_lunch.jpg'%}">
        <h6>Office Lunch</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/getraenke">
        <img src="{% static 'img/getraenke.jpg'%}">
        <h6>Getränke</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/full-service">
        <img src="{% static 'img/full_service.jpg'%}">
        <h6>Full Service</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/bio-und-allergene-welt">
        <img src="{% static 'img/allergene.jpg'%}">
        <h6>Bio &amp; Allergene Welt</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
 </ul>        </section>        <footer id="footer">
            <div class="totop">
                <span><a href="/kontakt#" id="toTop"><i class="fa fa-arrow-up"></i></a></span>
            </div>
            <div id="footer1"><div style="text-align:center;padding-top: 2rem;">
<p><a href="/kontakt">Kontakt</a> • <a href="/datenschutz">Datenschutz</a> • <a href="/impressum">Impressum</a> • <a href="/agb">AGB</a></p>
</div>
            </div>
            <div id="footer2"><p style="font-size:0.2rem;">&nbsp;</p></div>
        </footer>    </div>
    <div class="sb-slidebar sb-left sb-width-thin">
        <div id="panel">
<ul class="navigation">            <li class="">
                <a href="/">BEEourGuest
                </a>
            </li>            <li class="">
                <a href="/busy-bee-world">Busy Bee World
                </a>
            </li>            <li class="">
                <a href="/jetzt-anfragen">Jetzt anfragen
                </a>
            </li></ul>

        </div>
    </div>
        <script>
        $(function () {
            $(document).ready(function() {
              $.slidebars({
                hideControlClasses: true,
                scrollLock: true
              });
            });
        });
        </script>

</metaname="robots"content="nocache"></metaname="page-topic"content="catering></metaname="publisher"content="bbc></metaname="keywords"content="busy></metaname="description"content="busy></metaname="generator"content="gravcms"></body></html>
