{% load static %}

<!DOCTYPE html>
<html lang="de" class="js csstransforms3d sb-init sb-scroll-lock">
<head>
  <title>Full Service | BusyBee Catering Berlin</title>
  <link rel="canonical" href="https://www.busybee-catering.de/full-service">
  {% include 'pages/head.html' %}
</head>
<body id="top" class="">

    <div id="sb-site" class="FullService" style="min-height: 916px;">        <header id="header" class="scrolled">
            <div id="logo">
                <a href="/"><img src="{% static 'img/logo.png' %}" alt="BusyBee Catering Berlin"></a>
            </div>
            <div id="navbar">
<ul class="navigation">            <li class="">
                <a href="/">BEEourGuest
                </a>
            </li>            <li class="">
                <a href="/busy-bee-world">Busy Bee World
                </a>
            </li>            <li class="">
                <a href="/jetzt-anfragen">Jetzt anfragen
                </a>
            </li></ul>

                <span class="panel-activation sb-toggle-left navbar-left menu-btn fa fa-bars"></span>
            </div>
        </header>        <section id="body" class=""><h1>Full Service</h1>
<h2>Alles aus einer Hand</h2>
<p><img alt="" src="{% static 'img/fs_01.jpg' %}"></p>
<div class="cont-2col">
<div class="cell-2col-l">
<p>Darf es ein bisschen mehr (Full) Service von unserer Seite sein? Planen Sie ein großes Event mit einer großen Anzahl an Ansprechpartnern? Das müssen Sie nicht selber stemmen und sollte Ihnen schon lange nicht auf den Magen schlagen, denn mit unserem Full Service erarbeiten wir für Sie ein innovatives Konzept</p>
<ul>
<li>für die Wahl der Location</li>
<li>des Speisenangebotes</li>
<li>jeglicher Ausstattung</li>
</ul>
<p>Unser Rundum-Service beinhaltet </p>
<ul>
<li>Beratung</li>
<li>Personalbeschaffung</li>
<li>Veranstaltungstechnik</li>
<li>Dekorationskonzepte</li>
<li>Bereitstellung von Event-Equipment</li>
</ul>
<p>und natürlich nicht zu vergessen:</p>
<ul>
<li>Speisen und Getränke</li>
</ul>
<p>Alle Posten werden individuell auf Ihre Veranstaltung abgestimmt und mit Leidenschaft und jahrzehntelanger Event- Erfahrung garniert. </p>
<p>Sie suchen ein perfektes Event Catering aus einer Hand für Ihre Tagungen, Messen, Empfänge, Präsentationen, Galas und Partys? Dann vertrauen Sie auf unsere vielseitigen Erfahrungen und Kontakte und unsere Motivation, Ihre Veranstaltung aus einem Guss und natürlich geschmackvoll in allen Belangen zu organisieren.</p>
</div>
<div class="cell-2col-r">
<p><img alt="" src="{% static 'img/fs_02.jpg' %}"></p>
<p><img alt="" src="{% static 'img/fs_03.jpg' %}"></p>
</div>
</div>
<div class="clr"></div>



<section class="slideshow" id="slideshow">
      <div class="slideshow-inner">
        <div class="slides">
          <div class="slide is-active ">
            <div class="slide-content">
              <div class="container">
                <div class="caption">
                  <div class="title">
                  </div>
                  <div class="text"></div>
                </div>
              </div>
            </div>
            <div class="image-container">
              <img src="{% static 'img/7830af84cc520ddaf398021daac9fc210c575be8-fs04.jpeg' %}">
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="container">
                <div class="caption">
                  <div class="title">
                  </div>
                  <div class="text"></div>
                </div>
              </div>
            </div>
            <div class="image-container">
              <img src="{% static 'img/2392910a292f84f652eb24a58ace96090f79382a-fs05.jpeg' %}">
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="container">
                <div class="caption">
                  <div class="title">
                  </div>
                  <div class="text"></div>
                </div>
              </div>
            </div>
            <div class="image-container">
              <img src="{% static 'img/37531a6cb94931d5cb1f5165da3067985e8dc321-fs06.jpeg' %}">
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="container">
                <div class="caption">
                  <div class="title">
                  </div>
                  <div class="text"></div>
                </div>
              </div>
            </div>
            <div class="image-container">
              <img src="{% static 'img/180c7b09d1dffe4984e99f6ec48b9e100975cd5b-fs07.jpeg' %}">
            </div>
          </div>
          <div class="slide">
            <div class="slide-content">
              <div class="container">
                <div class="caption">
                  <div class="title">
                  </div>
                  <div class="text"></div>
                </div>
              </div>
            </div>
            <div class="image-container">
              <img src="{% static 'img/e0dd6d6bfc34ed7d1a0da4501aec0861f9802041-fs08.jpeg' %}">
            </div>
          </div>
        </div>
        <div class="pagination">
          <div class="item is-active">
            <span class="icon">1</span>
          </div>
          <div class="item">
            <span class="icon">2</span>
          </div>
          <div class="item">
            <span class="icon">3</span>
          </div>
          <div class="item">
            <span class="icon">4</span>
          </div>
          <div class="item">
            <span class="icon">5</span>
          </div>
        </div>
        <div class="arrows">
          <div class="arrow prev">
            <span class="svg svg-arrow-left">
              <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"/> </svg>
              <span class="alt sr-only"></span>
            </span>
          </div>
          <div class="arrow next">
            <span class="svg svg-arrow-right">
              <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"/> </svg>
              <span class="alt sr-only"></span>
            </span>
          </div>
        </div>
      </div>
    </section>


{% include 'pages/slideshow.html' %}




<hr><ul id="hexGrid">
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/inspiration">
        <img src="{% static 'img/inspiration.jpg' %}">
        <h6>Inspiration</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/fingerfood">
        <img src="{% static 'img/ffood.jpg' %}">
        <h6>Fingerfood</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/buffet-menue">
        <img src="{% static 'img/buffet.jpg' %}">
        <h6>Buffet &amp; Menü</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/busy-bee-world#unser-team">
        <img src="{% static 'img/team.jpg' %}">
        <h6>Unser Team</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/event-consulting">
        <img src="{% static 'img/event_con.jpg' %}">
        <h6>Event Consulting</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/office-lunch">
        <img src="{% static 'img/office_lunch.jpg' %}">
        <h6>Office Lunch</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/getraenke">
        <img src="{% static 'img/getraenke.jpg' %}">
        <h6>Getränke</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/full-service">
        <img src="{% static 'img/full_service.jpg' %}">
        <h6>Full Service</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
  <li class="hex">
    <div class="hexIn">
      <a class="hexLink" href="/bio-und-allergene-welt">
        <img src="{% static 'img/allergene.jpg' %}">
        <h6>Bio &amp; Allergene Welt</h6>
        <p>— view —</p>
      </a>
    </div>
  </li>
 </ul>        </section>        <footer id="footer">
            <div class="totop">
                <span><a href="/full-service#" id="toTop"><i class="fa fa-arrow-up"></i></a></span>
            </div>
            <div id="footer1"><div style="text-align:center;padding-top: 2rem;">
<p><a href="/kontakt">Kontakt</a> • <a href="/datenschutz">Datenschutz</a> • <a href="/impressum">Impressum</a> • <a href="/agb">AGB</a></p>
</div>
            </div>
            <div id="footer2"><p style="font-size:0.2rem;">&nbsp;</p></div>
        </footer>    </div>
    <div class="sb-slidebar sb-left sb-width-thin">
        <div id="panel">
<ul class="navigation">            <li class="">
                <a href="/">BEEourGuest
                </a>
            </li>            <li class="">
                <a href="/busy-bee-world">Busy Bee World
                </a>
            </li>            <li class="">
                <a href="/jetzt-anfragen">Jetzt anfragen
                </a>
            </li></ul>

        </div>
    </div>
        <script>
        $(function () {
            $(document).ready(function() {
              $.slidebars({
                hideControlClasses: true,
                scrollLock: true
              });
            });
        });
        </script>

</body></html>
