server {
	server_name www.busybee-catering.de;
	# return 301 https://$host$request_uri;
  location / {
    include         uwsgi_params;
    uwsgi_pass      unix:/tmp/busybee.sock;
    # First attempt to serve request as file, then
    # as directory, then fall back to displaying a 404.
    #try_files $uri $uri/ =404;
  }

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/www.busybee-catering.de/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/www.busybee-catering.de/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}
server {
    listen 80;
    listen [::]:80;
    server_name ~^(.*)busybee-catering.de;
    return 301 https://www.busybee-catering.de$request_uri;
}
