-load static compress

!!!5
html(lang='de')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='initial-scale=1.0')
    //link(rel="shortcut icon", href="{% static 'img/favicon.ico' %}")
    title
      block title
        | BEEourGuest |BusyBee Catering Berlin
    link(href="https://fonts.googleapis.com/css?family=Barrio", rel="stylesheet")

    -compress css
      link(rel='stylesheet', type='text/x-sass', href='{% static "sass/styles.sass" %}')

body
  #app
    header
      .container
        #logo
          a(href="https://www.busybee-catering.de/")
            img(src="{% static 'img/logo.png' %}" alt="BusyBee Catering Berlin")
        #navbar
          ul.navigation
            li.active
              a(href="/") BEEourGuest
            li
              a(href="/busy-bee-world") Busy Bee World
            li
              a(href="/jetzt-anfragen") Jetzt anfragen

        span.menu-btn
    main
      block content
    footer
      block footer


  script(src="//cdn.jsdelivr.net/npm/vue@2/dist/vue.js")

  // the missing javascript functions
  script(src="//unpkg.com/lodash@4.13.1/lodash.min.js")

  // ajax calls
  script(src="//unpkg.com/axios@0.18.0/dist/axios.min.js")

  // Buefy UI framework
  link(rel="stylesheet" href="//unpkg.com/buefy/dist/buefy.min.css")
  script(src="//unpkg.com/buefy")
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css")
  Vue.use(Buefy.default)

  -compress js
     block extra_js
